.header {
  gap: 16px;

  @media (min-width: $mantine-breakpoint-xs) {
    gap: 32px;
  }
}

.avatar {
  flex-shrink: 0;
}

.body {
  @media (min-width: $mantine-breakpoint-xs) {
    margin-left: 72px;
  }
}
