.container {
  box-sizing: content-box;
  padding-inline: rem(24px);

  @media (min-width: $mantine-breakpoint-xs) {
    padding-inline: rem(40px);
  }
}

.layout {
  display: flex;
  flex-direction: column;
  row-gap: rem(40px);
  column-gap: rem(30px);
  padding-top: rem(56px);

  @media (min-width: $mantine-breakpoint-md) {
    flex-direction: row;
    padding-top: rem(94px);
  }

  /* MOBILE LAYOUT */
  @media (width < $mantine-breakpoint-sm) {
    padding-top: rem(99px);
  }

  @media (width < $mantine-breakpoint-xs) {
    padding-top: rem(72px);
  }
}

.aside {
  display: flex;
  row-gap: rem(24px);
  column-gap: rem(10px);
  flex-direction: column;

  /* TABLET LAYOUT */
  @media (min-width: $mantine-breakpoint-sm) and (width < $mantine-breakpoint-md) {
    flex-direction: row;

    & > * {
      width: calc(100% / 3);
    }
  }

  @media (min-width: $mantine-breakpoint-sm) {
    & > :first-child {
      border-radius: rem(10px);
    }
  }

  @media (min-width: $mantine-breakpoint-md) {
    max-width: rem(255px);

    & > :first-child {
      min-height: rem(137px);
    }
  }

  /* MOBILE LAYOUT */
  @media (width < $mantine-breakpoint-sm) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.main {
  width: 100%;
}
