.container {
  border-radius: rem(10px);
  background-color: #fff;
  padding-block: rem(44px) rem(24px);
  padding-inline: rem(24px);
  position: relative;
  --icon-size: rem(40px);
  margin-top: calc(var(--icon-size) / 2);
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.title {
  font-size: rem(18px);
  letter-spacing: -0.25px;
  margin-block: 0;
}

.controls {
  margin-block: rem(24px) rem(40px);
}

.label,
.description {
  font-size: inherit;
  line-height: normal;
}

.label {
  font-weight: 700;
  letter-spacing: -0.18px;
}

.description {
  color: var(--mantine-color-neutral-6);
  margin-top: rem(3px);
}

.inputWrapper {
  margin-top: rem(16px);
}

.input {
  border-radius: rem(5px);
  background-color: var(--mantine-color-neutral-0);
  line-height: normal;
  font-size: inherit;
  padding-inline: rem(16px);
  --input-bd-focus: var(--mantine-color-blue-4);

  &:where(input) {
    --input-height: rem(48px);
  }

  &:where(textarea) {
    --input-height: rem(120px);
    padding-block: rem(16px);
  }
}

.actions {
  display: flex;
  gap: rem(16px);
  flex-direction: column;
}

@media (min-width: $mantine-breakpoint-xs) {
  .container {
    --icon-size: rem(56px);
    padding-block: rem(52px) rem(40px);
    padding-inline: rem(42px);
  }

  .title {
    font-size: rem(24px);
    letter-spacing: -0.33px;
  }

  .controls {
    margin-block: rem(40px) rem(32px);
  }

  .label {
    letter-spacing: -0.19px;
  }

  .description {
    margin-top: rem(2px);
  }

  .input {
    font-size: rem(15px);
    padding-inline: rem(24px);

    &:where(textarea) {
      --input-height: rem(96px);
    }
  }

  .actions {
    flex-direction: row-reverse;
  }
}
